@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}


<body>
    <img src="http://i68.tinypic.com/2heasmt.png" border="0" alt="logo">
    <div id="gora">
        <div style="float: left; width: 100%;">
            <article>
                <h1>

                    TwojePowietrze.pl
                </h1>
                <h2>
                    Opis projektu:
                </h2>
                <center>
                    <h4>

                        Aplikacja webowa dotyczy projektu w ramach ZPI, którego tematem  był: "Projekt i implementacja systemu usługowego dla potrzeb gromadzenia, przetwarzania i analizy danych.".
                        Zdecydyowaliśmy się skupić na temacie zanieczyszczeń na terenie całego obszaru Polski. Dane które są pobierane dotyczą poziomu określonych pierwiastków w
                        poszczególnych stacjach. Nasza baza zawiera około 160 stacji, z której każda dostarcza wartości 6 pierwiastków oraz wskaźnik jakości powietrza.
                        Air quality index dostarcza społeczności informacje o tym, czy bezpieczny i komfortowy jest pobyt na dworze czy też nie.
                    </h4>

                </center>
            </article>
            
                <h2>Project Team:</h2>
            <center>
                <h4>Dorota Plewa, Karolina Szymczak, Piotr Grzesiak, Piotr Podyma, Radosław Adamkiewicz</h4>
            </center>
            

        </div>

        

    </div>

    <div style="float: left; width: 100%">
        <h2>Serwis zawiera:</h2>
    </div>
    <div id="body">


        <div style="float: left; width: 34%">
            <h3>Mapy:</h3>
            <img src="http://i63.tinypic.com/r26zas.png" border="0" alt="logo">
            <h3>    </h3>
            <ol>
                <li>Ilustracja ukazująca poziom zanieczyszeń na terenie Polski</li>
                <li>Wizualizacja w kolorach</li>
            </ol>
        </div>
        <div style="float: left; width: 33%">
            <h3>Tabele:</h3>
            <img src="http://i66.tinypic.com/zjyznn.png" border="0" alt="logo">
            <h3>   </h3>
            <ol>
                <li>Wartości poszczególnych pierwiastków</li>
                <li>Wartości dodawane co godzinę</li>
            </ol>
        </div>
        <div style="float: left; width: 33%">
            <h3>Wykresy:</h3>
            <h3>  </h3>
            <img src="http://i68.tinypic.com/27xmcmf.png" border="0" alt="logo">
            <h3>  </h3>
            <ol>
                <li>Ilustracja na wykresie poszczególnych wartości</li>
                <li>Wykres dla każdego pierwiastka</li>
            </ol>
        </div>
    </div>

    <div style="float: left; width: 100%">
        <center><h2>Zawsze aktualne dane</h2></center>
    </div>
</body>